.form-div {
  opacity: 0;
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(2rem);
  background-repeat: no-repeat;
  background-position: center;
  pointer-events: none;
  font-family: "Roboto Mono", Consolas, monospace;
  font-size: 1rem;
  font-weight: 450;
  transition: all 500ms ease;
  /* background-color: greenyellow; */
}

.open-form {
  opacity: 1;
  pointer-events: all;
  transition: all 500ms ease;
  
}
.open-form-body {
  overflow: hidden;
}

.magic {
  position: relative;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  display: grid;
  grid-template-columns: 1fr 90% 1fr;
  margin: 0;
}

.empty {
  font-size: 0;
}

.imgoincrazy {
  /* background-color: deeppink; */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-main {
  /* background-color: cyan; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 50rem;
  padding: 1rem;
}

.form-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(1rem);
  border-radius: 1rem;
}

.form-h2 {
  min-width: 12rem;
}

.form-header button {
  font-family: "Roboto Mono", Consolas, monospace;
  font-size: 1rem;
  font-weight: 450;
  color: rgb(202, 202, 202);
  text-decoration: underline;
  margin-left: 1.2rem;
  border: none;
  background: none;
  transition: all 200ms ease;
}

.form-header button:hover {
  color: rgb(255, 255, 255);
  transform: scale(1.1);
  font-weight: 500;
  cursor: pointer;
}

.form-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-family: "Roboto Mono", Consolas, monospace;
  font-size: 1rem;
  font-weight: 450;
  color: ghostwhite;
}

.resizeable {
  display: flex;
  align-items: center;
  resize: horizontal;
  overflow-x: hidden;
  max-width: 90vw;
  min-width: 8rem;
  margin-top: 1rem;
}
.resizeable label {
  margin-right: 0.4rem;
}

.input {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  color: ghostwhite;
  font-family: "Roboto Mono", Consolas, monospace;
  font-size: 1rem;
  font-weight: 450;
  border: solid 0.1rem rgb(120, 120, 120);
  border-radius: 0.5rem;
  outline: none;
  transition: all 200ms ease;
}
.input:hover{
  border: solid 0.1rem rgb(110, 110, 110);
  background-color: rgba(0, 0, 0, 0.2);
}
.input:focus {
  background-color: rgba(0, 0, 0, 0.3);
  border: solid 0.1rem rgb(100, 100, 100);
}


.form-name {
  width: 25ex;
}
.form-email {
  width: 40ex;
}
.form-url {
  flex-direction: column;
  padding: 0 0.4rem;
  width: 70ex;
}
.form-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  width: 100%;
  margin-bottom: 1rem;
}
.form-text textarea {
  width: 70ex;
  max-width: 90vw;
  min-width: 8rem;
}

.radios {
  display: grid;
  grid-template-columns: auto auto;
  margin-bottom: 1rem;
  border: 0.1rem solid;
  border-radius: 0.5rem;
  border-color: transparent;
}
.radios label,
.radios input{
  display: inline-block;
  margin-top: 0.2rem;
}
#red {
  accent-color: rgb(255, 0, 0);
}
#green {
  accent-color: rgb(0, 255, 0);
}
#blue {
  accent-color: rgb(0, 0, 255);
}

.boilerplate {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}
.gdpr-div {
  padding: 0.4rem;
  border: 0.1rem solid;
  border-radius: 0.5rem;
  border-color: transparent;
  font-weight: 300;
  font-size: 0.8rem;
  text-wrap: pretty;
  color: rgb(150, 150, 150);
}

.legend {
  height: 0;
  opacity: 0;
  margin-top: 1.4rem;
  transition: all 200ms ease;
}
.legend-show {
  height: 5rem;
  opacity: 1;
}

.legend-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.legend-list label {
  margin-top: 0.5rem;
  padding: 0 0.5rem;
  border-radius: 0.5rem;
  border: 0.1rem solid;
}

.good{
  border-color: greenyellow;
}
.greenyellow {
  border-color:  greenyellow;
  color: greenyellow;
}

.required{
  border-color: red;
}
.redd {
  border-color: red;
  color: red;
}

.invalid {
  border-color:mediumblue;
}
.mediumblue {
  border-color: mediumblue;
  color: mediumblue;
}

.unrequired {
  border-color: darkseagreen;
}
.darkseagreen {
  border-color: darkseagreen;
  color: darkseagreen;
}