.form-div {
  opacity: 0;
  position:fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(2rem);
  align-items: center;
  pointer-events: none;
  transition: all 500ms ease;
  font-family: "Roboto Mono", Consolas, monospace;
  font-size: 1rem;
  font-weight: 450;
}

.open-form {
  opacity: 1;
  pointer-events: all;
  transition: all 500ms ease;
}

.form-main {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-color: cyan; */
  width: 90%;
  max-width: 50rem;
}

.form-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 -1rem;
  padding: 0 1rem;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(1rem);
  border-radius: 1rem;
}

.form-h2 {
  min-width: 12rem;
}

.form-header button {
  font-family: "Roboto Mono", Consolas, monospace;
  font-size: 1rem;
  font-weight: 450;
  color: rgb(202, 202, 202);
  text-decoration: underline;
  margin-left: 1.2rem;
  border: none;
  background: none;
  transition: all 200ms ease;
}

.form-header button:hover {
  color: rgb(255, 255, 255);
  transform: scale(1.1);
  font-weight: 500;
  cursor: pointer;
}

.form-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-family: "Roboto Mono", Consolas, monospace;
  font-size: 1rem;
  font-weight: 450;
  color: ghostwhite;
}

.resizeable {
  display: flex;
  align-items: center;
  resize: horizontal;
  overflow-x: hidden;
  max-width: 100%;
  min-width: 8rem;
  margin-top: 1rem;
}
.resizeable label {
  margin-right: 0.4rem;
}

.input {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  color: ghostwhite;
  font-family: "Roboto Mono", Consolas, monospace;
  font-size: 1rem;
  font-weight: 450;
  border: solid 0.1rem rgb(120, 120, 120);
  border-radius: 0.5rem;
  outline: none;
  transition: all 200ms ease;
}
.input:hover{
  border: solid 0.1rem rgb(110, 110, 110);
  background-color: rgba(0, 0, 0, 0.2);
}
.input:focus {
  background-color: rgba(0, 0, 0, 0.3);
  border: solid 0.1rem rgb(100, 100, 100);
}

.form-name {
  width: 25ex;
}
.form-email {
  width: 40ex;
}
.form-url {
  flex-direction: column;
  padding: 0 0.4rem;
  width: 70ex;
}
.form-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  width: 70ex;
  margin-bottom: 1rem;
}

.radios {
  display: grid;
  grid-template-columns: auto auto;
  margin-bottom: 1rem;
}
.radios label,
.radios input{
  display: inline-block;
  margin-top: 0.2rem;
}
#red {
  accent-color: rgb(255, 0, 0);
}
#green {
  accent-color: rgb(0, 255, 0);
}
#blue {
  accent-color: rgb(0, 0, 255);
}

.boilerplate {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.long-text {
  font-weight: 300;
  font-size: 0.8rem;
  color: rgb(150, 150, 150);
}