html {
  height: 100%;
  min-width: 10rem;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Roboto Mono", Consolas, monospace;
  font-size: 1rem;
  font-weight: 450;
  margin: 0;
  background-attachment: fixed;
}

.background-index {
  background-image: linear-gradient(135deg, rgba(0, 7, 103, 0.515), rgba(0, 255, 0, 0.321));
}
.background-writer {
  background-image: linear-gradient(95deg, rgba(115, 0, 160, 0.452), rgba(144, 157, 0, 0.291));
}
.background-archive {
  background-image: linear-gradient(115deg, rgba(0, 194, 155, 0.367), rgba(191, 0, 67, 0.372));
}
.background-a1 {
  background-image: linear-gradient(40deg, rgba(21, 0, 255, 0.332), rgba(197, 0, 0, 0.314));
}
.background-a2 {
  background-image: linear-gradient(165deg, rgba(195, 94, 0, 0.583), rgba(0, 225, 124, 0.394));
}
.background-a3 {
  background-image: linear-gradient(30deg, rgba(147, 46, 255, 0.423), rgba(31, 144, 0, 0.451));
}

.navbar {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 2rem;
  padding: 1.2rem 1rem;
  background: rgb(0, 0, 0);
  transition: height 200ms ease;
}

.header {
  /* literally aby header text bol centered correctly*/
  font-family: "Press Start 2P", monospace;
}

.header-text {
  display: inline-block;
  font-family: "Press Start 2P", monospace;
  font-size: 1.5rem;
  text-align: left;
  background: linear-gradient(90deg in hsl longer hue, rgb(255, 0, 0), rgb(0, 0, 255));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-decoration: none;
  text-wrap: nowrap;
}

.navbar-links{
  flex: 1;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}

.navbar-links a {
  color: white;
  /* text-decoration: none; */
  margin-left: 2%;
}

.content-grid {
  display: grid;
  grid-template-columns: 1fr 45rem 1fr;
  justify-content: center;
  margin-top: 4.4rem;
  padding: 0 1rem;
  transition: all 200ms ease;
}
.content-grid aside {
  color: transparent;
  cursor: default;
}

.grid-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 2rem;
  margin-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.grid-article {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* will be changed */
footer { 
  text-align: center;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 10px;
  font-size: 80%;
  font-family: Arial, sans-serif;
  color: rgba(0, 0, 0, 0.5);
  margin-top: auto;
}

.svgcko circle {
  mix-blend-mode: screen;
}
