html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Roboto Mono", Consolas, monospace;
  font-weight: 450;
  margin: 0;
  background-attachment: fixed;
}

.background-index {
  background-image: linear-gradient(135deg, rgba(0, 7, 103, 0.515), rgba(0, 255, 0, 0.321));
}
.background-writer {
  background-image: linear-gradient(95deg, rgba(183, 0, 255, 0.2), rgba(206, 225, 0, 0.2));
}
.background-archive {
  background-image: linear-gradient(115deg, rgba(0, 255, 204, 0.2), rgba(225, 0, 79, 0.2));
}
.background-a1 {
  background-image: linear-gradient(40deg, rgba(21, 0, 255, 0.332), rgba(197, 0, 0, 0.314));
}
.background-a2 {
  background-image: linear-gradient(165deg, rgba(195, 94, 0, 0.583), rgba(0, 225, 124, 0.394));
}
.background-a3 {
  background-image: linear-gradient(30deg, rgba(147, 46, 255, 0.423), rgba(31, 144, 0, 0.451));
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  min-height: 2rem;
  padding: 1.2rem 1rem;
  background: rgb(0, 0, 0);
}

.navbar-links a{
  color: white;
  /* text-decoration: none; */
}


.header {
  margin: 0;
  display: flex;
  align-items: center;
}

.header-text {
  font-family: "Press Start 2P", monospace;
  font-size: 1.5rem;
  text-align: left;
  background: linear-gradient(90deg in hsl longer hue, rgb(255, 0, 0), rgb(0, 0, 255));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-decoration: none;
}

main, article {
  margin: 100px 0px 0px 10px;
}

footer {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 10px;
  font-size: 80%;
  font-family: Arial, sans-serif;
  color: rgba(0, 0, 0, 0.5);
  margin-top: auto;
}


circle {
  mix-blend-mode: screen;
}


.back {
  font-size: 40%;
}

.color-shadow {
  text-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.5);
  cursor: default;
}

.red {
  color: red;
  transition: all 150ms ease;
}
.red:hover {
  color: white;
  text-shadow: 0 0 1rem red,
               0 0 1rem red;
}

.green {
  color: rgb(0, 255, 0);
  transition: all 150ms ease;
}
.green:hover {
  color: white;
  text-shadow: 0 0 1rem rgb(0, 255, 0),
               0 0 1rem rgb(0, 255, 0),
               0 0 1rem rgb(0, 255, 0);
}

.blue {
  color: blue;
  transition: all 150ms ease;
}
.blue:hover {
  color: white;
  text-shadow: 0 0 1rem blue,
               0 0 1rem blue,
               0 0 1rem blue;
}

.cyan {
  color: rgb(0, 255, 255);
  transition: all 150ms ease;
}
.cyan:hover {
  color: white;
  text-shadow: 0 0 1rem rgb(0, 255, 255),
               0 0 1rem rgb(0, 255, 255),
               0 0 1rem rgb(0, 255, 255);
}

.magenta {
  color: rgb(255, 0, 255);
  transition: all 150ms ease;
}
.magenta:hover {
  color: white;
  text-shadow: 0 0 1rem rgb(255, 0, 255),
               0 0 1rem rgb(255, 0, 255),
               0 0 1rem rgb(255, 0, 255);
}

.yellow {
  color: rgb(255, 255, 0);
  transition: all 150ms ease;
}
.yellow:hover {
  color: white;
  text-shadow: 0 0 1rem rgb(255, 255, 0),
               0 0 1rem rgb(255, 255, 0),
               0 0 1rem rgb(255, 255, 0);
}


table {
  border-collapse: collapse;
  width: calc(100% - 20px);
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

th,
td {
  border: 1px solid grey;
  padding: 15px;
  text-align: left;
}

th {
  background-color: rgba(0, 0, 0, 0.3);
  font-weight: bold;
}

caption {
  text-align: justify;
}

img {
  width: 60%;
}

.bg_red {
  background-color: rgba(255, 0, 0);
}

.bg_orange {
  background-color: rgba(255, 100, 0);
}

.bg_yellow {
  background-color: rgba(255, 255, 0);
}

.bg_blue {
  background-color: rgba(0, 0, 255);
}

.bg_purple {
  background-color: rgb(123, 0, 255);
}

.bg_green {
  background-color: rgb(0, 200, 25);
}

.color_column {
  width: 50px;
}

.center_text {
  text-align: center;
}

.mono {
  background: linear-gradient(to right,
      rgb(149, 208, 189) 25%,
      rgb(100, 155, 139) 25% 50%,
      rgb(82, 130, 115) 50% 75%,
      rgb(33, 53, 47) 75%);
  padding: 50px;
}

.analog {
  background: linear-gradient(to right,
      rgb(121, 0, 125) 20%,
      rgb(125, 0, 100) 20% 40%,
      rgb(125, 0, 75) 40% 60%,
      rgb(125, 0, 50) 60% 80%,
      rgb(125, 0, 25) 80%);
  padding: 50px;
}

.complementary {
  background: linear-gradient(to right,
      rgb(255, 163, 70) 25%,
      rgb(255, 138, 21) 25% 50%,
      rgb(0, 94, 255) 50% 75%,
      rgb(62, 133, 255) 75%);
  padding: 50px;
}

.a1 {
  background-color: #FF0000;
  height: 20px;
  width: 100px;
}

.a2 {
  background-color: #0000FF;
  height: 20px;
  width:
    100px;
}

.a3 {
  background-color: #FFFF00;
  height: 20px;
  width: 100px;
}

.a4 {
  background-color: #008000;
  height: 20px;
  width: 100px;
}

.a5 {
  background-color: #800000;
  height: 20px;
  width: 100px;
}