<div class="background background-a2"></div>

<div class="content-grid">
  <aside>placeholder</aside>
  <article class="content-article">
    <h2>Červená - #FF0000</h2>
    <p>Červená farba je často spájaná s energiou, vášňou a láskou. Je to výrazná farba, ktorá priťahuje pozornosť. Používa sa vo značkách spoločností ako Coca-Cola, YouTube a Netflix.</p>
    <figure class="colbox-red"></figure>
    <h2>Modrá - #0000FF</h2>
    <p>Modrá farba je často spájaná s dôverou, stabilitou a pokojom.</p>
    <figure class="colbox-blue"></figure>
    <h2>Žltá - #FFFF00</h2>
    <p>Žltá farba je spájaná s optimizmom, radosťou a inteligenciou.</p>
    <figure class="colbox-yellow"></figure>
    <h2>Zelená - #008000</h2>
    <p>Zelená farba je spájaná s prírodou, rastom a harmóniou.</p>
    <figure class="colbox-green"></figure>
    <h2>Maroon - #800000</h2>
    <p>Maroon farba je spájaná s eleganciou, luxusom a tradičnosťou.</p>
    <figure class="colbox-maroon"></figure>
  </article>
  <aside>placeholder</aside>
</div>
