<div class="background background-a2"></div>

<div class="content-grid">
  <aside>placeholder</aside>
  <article class="content-article">
    <p>
      Farebné schémy sú základným nástrojom pre vytváranie harmonického a esteticky príjemného dizajnu. Správne zvolená farebná schéma môže výrazne ovplyvniť celkový dojem, ktorý náš projekt alebo interiér vyvolá na pozorovateľa.
    </p>
    <h2>Monochromatická schéma</h2>
    <p>
      Monochromatická schéma je najjednoduchšia zo všetkých. Spočíva v použití rôznych odtieňov a sýtostí tej istej farby. Táto schéma je vhodná pre minimalistické a elegantné dizajny.
    </p>
    <div class="color-preview">
      <figure class="mono"></figure>
    </div>
    
    <h2>Analogická schéma</h2>
    <p>
      Analogická schéma využíva farby, ktoré sú na farebnom kruhu vedľa seba. Tieto farby sa navzájom dopĺňajú a vytvárajú harmonický kontrast. Analogická schéma je vhodná pre prírodné a organické dizajny.
    </p>
    <div class="color-preview">
      <figure class="analog"></figure>
    </div>
    
    <h2>Komplementárna schéma</h2>
    <p>
      Komplementárna schéma využíva farby, ktoré sú na farebnom kruhu oproti sebe. Táto schéma vytvára silný kontrast a je vhodná pre projekty, ktoré vyžadujú pozornosť a energiu.
    </p>
    <div class="color-preview">
      <figure class="complementary"></figure>
    </div>
  
    <h2>Triadická schéma</h2>
    <p>
      Triadická schéma využíva tri farby, ktoré sú na farebnom kruhu rovnomerne rozmiestnené. Táto schéma je vhodná pre projekty, ktoré vyžadujú viacfarebnosť a zábavnosť.
    </p>
  
    <h2>Tetradická schéma</h2>
    <p>
      Tetradická schéma využíva štyri farby, ktoré tvoria dva páry komplementárnych farieb. Táto schéma je vhodná pre projekty, ktoré vyžadujú vysokú mieru vizuálnej zaujímavosti.
    </p>
  
    <p>
      Pri výbere farebnej schémy je dôležité zvážiť účel projektu, cieľovú skupinu a celkový štýl. Experimentujte s rôznymi schémami a nájdite tú, ktorá najlepšie vyhovuje vašim potrebám.
    </p>
  </article>
  <aside>placeholder</aside>
</div>
